<%- include('../osapohjat/header'); %>

<h1>auto lisätty</h1>
<!--Tähän teet lomakkeen ja sen lomakkeen pitää olla sellainen, että saat lomakkeen tiedot välitettyä sille app.post...-->



<%- include('../osapohjat/footer'); %>