<style>
    /* Style the footer */
    footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
    }
</style>

<footer>
    <p>Autosivu @TEO</p>
</footer>

</body>

</html>